@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    font-family: 'Great Vibes', cursive;
    color: #222222;
    background: #835158;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 5rem;
}

.img {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    border: 0.3rem solid #51837C;
    border-bottom: none;
    text-align: center;
    background-image: url(images/crystalBall.jpg);
    background-position: center;
    margin: 0 auto;
}

.container div {
    position: absolute;
    height: 10rem;
    width: 40%;
    font-size: 2rem;
    background-color: #fff;
    padding: 1%;
    background-color: #835158;
    border-top: 0.3rem solid #51837C;
    bottom: 1%;
}

.container div h5 {
    font-size: 2.5rem;
    line-height: 4rem;
}

.left-quote {
    left: 7.5%;
    border-right: 0.3rem solid #51837C;
    border-top-right-radius: 5rem;
}

.right-quote {
    right: 7.5%;
    border-left: 0.3rem solid #51837C;
    border-top-left-radius: 5rem;

}
